In [7]:
# SparkSession 설정
from pyspark.sql import SparkSession

spark = SparkSession.builder.master('local').appName('age-category').getOrCreate()

In [37]:
# 샘플 데이터
age_list = [
    ('이나영', 45),
    ('원빈', 47),
    ('손흥민', 32),
    ('박재범', 37),
    ('손인욱', 30),
    ('강진엽', 26),
    ('이희선', 26),
    ('이마세', 24),
    ('문현묵', 23),
    ('한석규', 60)
]

In [38]:
# 스키마 정의
schema = ['name', 'age']

In [39]:
# 데이터프레임 생성
df = spark.createDataFrame(age_list, schema)

In [40]:
# 데이터프레임 출력
df.show()

+------+---+
|  name|age|
+------+---+
|이나영| 45|
|  원빈| 47|
|손흥민| 32|
|박재범| 37|
|손인욱| 30|
|강진엽| 26|
|이희선| 26|
|이마세| 24|
|문현묵| 23|
|한석규| 60|
+------+---+

In [41]:
# 데이터프레임 스키마 출력
df.printSchema()

root
 |-- name: string (nullable = true)
 |-- age: long (nullable = true)

In [42]:
# Temporary View 생성
df.createOrReplaceTempView('age_category')

In [43]:
# UDF 등록하기
from pyspark.sql.functions import udf

In [48]:
# UDF 함수 정의

def age_category(age):
    if age<35:
        return 'young'
    elif age>=35 and age<60:
        return 'adult'
    elif age>=60:
        return 'senior'

In [49]:
# udf 등록
spark.udf.register('age_category', age_category)

In [50]:
# SQL문 처리
spark.sql(
    "SELECT name, \
    age_category(age) AS category \
    FROM age_category").show()

+------+--------+
|  name|category|
+------+--------+
|이나영|   adult|
|  원빈|   adult|
|손흥민|   young|
|박재범|   adult|
|손인욱|   young|
|강진엽|   young|
|이희선|   young|
|이마세|   young|
|문현묵|   young|
|한석규|  senior|
+------+--------+

----------------------------------------
Exception occurred during processing of request from ('127.0.0.1', 53281)